<!-- Modal -->
<div id="myModal" class="modal" style="display: block;" ng-controller="GeolocationController">
  <div class="modal-dialog" style="width:90%;">

    <!-- Modal content-->
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">РЕДАКТИРОВАНИЕ ЗАПИСИ</h4>
      </div>
      <div class="modal-body">       
         <div class="row">
    <div class="col-md-2">Название:*</div>
    <div class="col-md-10"><input class="form-control" type="text" id="geoLocationName" ng-model="geoLocationName"></div>
  </div>
  <div class="row">
    <div class="col-md-2">По умолчанию:</div>
    <div class="col-md-10"><input type="checkbox" id="geoLocationDefault" ng-model="geoLocationDefault"></div>
  </div>
    
  <div class="row">
    <div class="col-md-5">
      <div class="row"><h4>Выбор гео-объекта:</h4></div>
      <div class="row">
        <div class="input-group">
          <label class="sr-only" for="searchInput">Search</label>
          <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary glyphicon glyphicon-search"></button>
          </div>
        </div>
      </div>
      
<!-- max-height:600px !important; height:1 px; -->

      <!-- <script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content">
		<a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': nodes.collapsed,
          'glyphicon-chevron-down': !nodes.collapsed
        }"></span></a>
		<input type="checkbox" ng-model="node.check"> {{node.text}}
	</div>
<ul ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: nodes.collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ul>
      </script>




<div class="row" style="overflow:auto; max-height:600px !important; height:1 px; border:#000 1px solid;">

      	<ul ui-tree-nodes ng-model="geolocationPointTree">
		<li ui-tree-node ng-repeat="node in geolocationPointTree" ng-include="'nodes_renderer.html'"></li>
        </ul>
      
      </div> -->





<!--

      <script type="text/ng-template" id="nodes_renderer.html">
	<div my-test class="tree-node tree-node-content" collapsed="" ng-click="toggle(this)">
		<a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': nodes.collapsed,
          'glyphicon-chevron-down': !nodes.collapsed
        }"></span></a>
		<input type="checkbox" ng-model="node.check"> {{node.text}}
	</div>
<ul myTest ng-model="node.nodes" ng-class="{hidden: nodes.collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ul>
      </script>




<div class="row" style="overflow:scroll; max-height:600px !important; height:1 px; border:#000 1px solid;">

      	<ul ui-tree-nodes ng-model="geolocationPointTree">
		<li ui-tree-node ng-repeat="node in geolocationPointTree" ng-include="'nodes_renderer.html'"></li>
        </ul>
      
      </div>
    </div>-->
    <div style="overflow-y:scroll; overflow-x:hidden !important; height:400px !important;">
    <div class="row">
    
      <ul my-treeview class="list-group">
        <li ng-repeat="item in items" my-treeview-childs="item.nodes" class="list-group-item">
            <span ng-class="{ bold: item.id % 2}">
            <a ng-click="toggle(item)" class="btn btn-success btn-xs" ng-if="item.nodes && item.nodes.length > 0" data-nodrag>
             <span class="glyphicon"
              ng-class="{
                'glyphicon-chevron-right': item.collapsed,
                'glyphicon-chevron-down': !item.collapsed
              }"></span>
            </a>

            <span class="glyphicon"
              ng-class="{
                'glyphicon glyphicon-check': item.check,
                'glyphicon glyphicon-unchecked': !item.check
              }" style="font-size:20px;" ng-click="toggleCheck(item)"></span>
            {{item.text}}</span>
          </li>
      </ul>
    </div>
    </div>
    
</div>
    
    <div class="col-md-1"></div>
    
    <div class="col-md-6">
      <div class="row"><h4>Привязанные гео-объекты:</h4></div>
      <div class="row">
      
      
      
      
      
      
      
      
      
      <script type="text/ng-template" id="checked_renderer.html">
      
        <div ng-if="item.check" class="row" ng-show="item.check">
          <div class="col-md-11 well">
            <h4>{{item.text}}</h4>
            <small>{{item.text}} / Избранное</small>
          </div>
          <div class="col-md-1"></div>
        </div>
        
        <div ng-model="item.nodes">
            <div ng-repeat="item in item.nodes" ng-include="'checked_renderer.html'"></div>
          </div>
        </div>
      </script>

<!--          <div ng-model="geolocationPointTree">-->
          <div ng-model="items">
            <div ng-repeat="item in items" ng-include="'checked_renderer.html'"></div>
          </div>
      
      
      
      
      

       

    </div>
  </div>
       


       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Сохранить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>

  </div>
</div>